# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
".platform-darwin":
    "ctrl-alt-.": "term:open-split-right"
    "ctrl-shift-alt-.": "term:open-split-left"
    "ctrl-alt-,": "term:open-split-down"
    "shift-ctrl-alt-,": "term:open-split-up"
".platform-win32, .platform-linux":
    "ctrl-alt-.": "term:open-split-right"
    "shift-ctrl-alt-.": "term:open-split-left"
    "ctrl-alt-,": "term:open-split-down"
    "shift-ctrl-alt-,": "term:open-split-up"
